<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="AssetPreProcessorPool" type="Magento\Framework\View\Asset\PreProcessor\Pool">
        <arguments>
            <argument name="preprocessors" xsi:type="array">
                <item name="less" xsi:type="array">
                   
                     <item name="mageable_subscription_css_import" xsi:type="array">
                        <item name="before" xsi:type="string">magento_import</item>
                        <item name="class" xsi:type="string">Magenable\SubscriptionPopup\Css\PreProcessor\Instruction\Variables</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    
</config>






